# 161109 nginx rerwrite


user  				nginx;
worker_processes  		auto;
error_log			/var/log/nginx/main.error.log;
pid				/var/run/nginx.pid;

#load_module "/usr/lib64/nginx/modules/ngx_http_geoip_module.so";

events {
    	worker_connections  	1024;
    	multi_accept		on;
    	use			epoll;
}


http {
    	include       		mime.types;
    	include			/etc/nginx/conf.d/server.conf;
    	include 		/etc/nginx/conf.d/php-fpm.conf;
    	default_type  		application/octet-stream;

    	log_format  		main  '$remote_addr - $remote_user [$time_local] "$request" '
                      		'$status $body_bytes_sent "$http_referer" '
                      		'"$http_user_agent" "$http_x_forwarded_for"';

    	access_log  		/var/log/nginx/access.log  main;
	error_log		/var/log/nginx/http.error.log error;
	
	upstream php {
		server unix:/tmp/php-fpm.sock;
	}

    	geoip_country /usr/share/GeoIP/GeoIP.dat;
    	map $geoip_country_code $allowed_country {
        	default no;
        	US yes;
    	}	

    	include /etc/nginx/sites/site1.conf;
#    	include /etc/nginx/sites/site2.conf;
#       include /etc/nginx/sites/site3.conf;
}
